.git
.idea
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.log
*.spec
build
dist
node_modules
frontend/node_modules
frontend/dist
venv
logs
backend/__pycache__
backend/temp
backend/data
deploy-data
storage
